* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  background-color: silver;
}

.search-button {
  width: 3%;
  height: 3%;
}
